<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Bookmarks</h1>
    <ul>
      <%@bookmarks.each do |bookmark| %>
    <li>
      <a href="<%=bookmark.url%>">
        <%=bookmark.title%></a>
        <form action="/bookmarks/<%=bookmark.id%>" method="post">
        <input type="submit" value="Delete">
        </form>
    </li>
      <%end%>
    </ul>
    </body>
</html>
