<!DOCTYPE html>
<html>
<head>
  </<head>
  <body>
    <h1>Bookmarks</h1>
    <ul>
      <%@bookmarks.each do |bookmark| %>
    <a href="<%=bookmark.url%>">
    <li> <%=bookmark.title%> </li>
    <%end%>
    </a>
    </ul>
    </body>
</html>
